
:root{
    --accent-color: black;
    --bg-color:rgb(162, 208, 210);
    --bg-color-text:rgb(119, 177, 179);
    --text-color: rgb(240, 248, 255);
    --border-radius: 15px;
}

body{
    background-color: var(--bg-color);
    font-style: italic;

}


header{
    background-color: var(--bg-color-text);
    color: var(--text-color);
    text-align: center;
    border-style: solid;
    margin: 30px;
    position: relative;
}

.seccion{
    background-color: var(--bg-color-text);
    color: var(--text-color);
    padding-left: 15px;
    padding-right: 15px;
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 25px;
}



